* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 100vh;
    background-color: rgb(244, 7, 82);
}
.container{
    width: 690px;
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}
.wrapper{
    border-radius: 5px;
    border: 1px solid #bbb;

}
.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text{
    border-radius: 0px;
}
.text-input textarea{
    height: 250px;
    width: 50%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
    border-bottom: 1px #ccc;
    margin-bottom: 0;
}

.text-input textarea:first-child {
    border-bottom: 1px solid #bbb;
}

.controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}
.controls {
    list-style: none;
}
.controls .row.from .icons{
    border-right: none;
}
.controls .row.to .icons{
    border-left: none;
}
.controls .icons {
    width: 38%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;;
}
.controls .icons i{
   width: 50px;
   color: #9f9f9f; 
   font-size: 14px;
   cursor: pointer;
   justify-content: center;
   padding: 10px;
}

.controls .row select{
    border: none;
    outline: none;
    font-size: 12px;
    background: none;
    text-align: center;
    text-align-last: center;
}

.controls .exchange{
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}

.container button{
    width: 100%;
    padding: 10px;
    margin-top: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(244, 7, 82);
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .text-input textarea {
        height: 100px;
        font-size: 16px;
        border-bottom: 1px, #ccc;
    }

    .controls .icons {
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
    }

    .controls {
        flex-direction: column;
        gap: 10px;
    }

    .controls .row {
        flex-direction: column;
        width: 100%;
    }

    .text-input {
        flex-direction: column;
    }

    .text-input textarea {
        width: 100%;
        margin-bottom: 10px;
    }
}

body {
    min-height:400px;
    min-width: 400px;
}

/* Check Box Options */
.inTextOption {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 13px;
}

.inTextOption .itcb {
    margin: 0 10px;
}

.boxOption {
    display: flex;
    position: absolute;
    top: 20px;
    right: 5px;
    font-size: 13px;
    padding-top: 5px;
}

.boxOption .bcb{
    margin: 0 10px;
}

.languageSelector {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 5px;
    font-size: 13px;
    align-items: flex-start;
    gap: 5px;
    white-space: nowrap;
    
}
.languageSelector select {
    border: none;
    outline: none;
    font-size: 13px;
    background: white;
    padding: 2px 5px;
    border-radius: 4px;
    align-self: center;
}



